<!DOCTYPE html>
<html>
<head>

    {% block stylesheet %}

        <title>Esprit Entr'aide</title>

        <!-- CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/user/css/bootstrap.min.css') }}" >
        <link rel="stylesheet" href="{{ asset('bundles/user/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/user/css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/user/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/user/css/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/user/css/jplayer.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/user/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/user/css/responsive.css') }}">

        <!-- font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Signika+Negative" rel="stylesheet">

        <!-- icons -->
        <link rel="icon" href="{{ asset('bundles/user/images/ico/favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/user/images/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/user/images/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/user/images/ico/apple-touch-icon-57-precomposed.png') }}">
        <!-- icons -->

    {% endblock stylesheet %}
</head>
<body>

<div class="tr-topbar topbar-width-container topbar-bg-color-1 clearfix">
        <div class="container">
                <div class="row">
                        <div class="col-sm-3">
                                <a class="navbar-brand" href="{{ path('user_homepage') }}"><img class="img-responsive" src="{{ asset('bundles/user/images/logo2.png') }}" alt="Logo"></a>
                        </div>
                        <div class="col-sm-9">
                                <div class="topbar-left">
                                        <div class="breaking-news">
                                                <span># Newsfeed</span>
                                                <div id="ticker">
                                                        <ul style="left: -359.8px;">
                                                                <li style=""><a href="#">Esprit Entre'aide</a></li>
                                                                <li style=""><a href="#">Liwa</a></li>
                                                                <li style=""><a href="#">Oussema</a></li>
                                                                <li style=""><a href="#">Dhouha</a></li>
                                                                <li style=""><a href="#">Bader</a></li>
                                                                <li style=""><a href="#">Amr Amine</a></li>
                                                        </ul>
                                                </div>
                                        </div><!-- breaking-news -->
                                </div><!-- /.topbar-left -->
                                <div class="topbar-right">
                                        <div class="user">
                                                <div class="user-image">
                                                        <img class="img-responsive img-circle" src="{{ asset('bundles/user/images/others/user.png') }}" alt="Image">
                                                </div>

                                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                <div class="dropdown user-dropdown">
                                                        Hello,
                                                        <a href="#" aria-expanded="true">{{ app.user.nom }} {{ app.user.prenom }}<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                                        <ul class="sub-menu text-left">
                                                                <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                                                                <li><a href="{{ path('fos_user_profile_edit') }}">Settings</a></li>
                                                                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                                                        </ul>
                                                </div>
                                                    {% else %}
                                                            <a href="{{ path('fos_user_security_login') }}">Connexion</a> | <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
                                                            {% endif %}
                                        </div>
                                        <div class="searchNlogin">
                                                <ul>
                                                        <li><a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
                                                        <li class="dropdown language-dropdown">
                                                                <a href="#" aria-expanded="true"><span class="change-text"> Fr</span></a>
                                                        </li>
                                                </ul>

                                        </div>
                                </div><!-- /.topbar-right -->
                        </div>
                </div><!-- /.row -->
        </div><!-- /.container -->
</div>
<div class="container" style="transform: none;">
        <div class="row" style="transform: none;">
                <div class="col-sm-3 tr-sidebar tr-sticky" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                        <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 61.5px;">
                                <div class="tr-menu sidebar-menu sidebar-menu-two menu-responsive">
                                        <nav class="navbar navbar-default">
                                                <div class="navbar-header">
                                                        <button type="button" class="navbar-toggle toggle-white collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                                                                <span class="sr-only">Toggle navigation</span>
                                                                <span class="icon-bar"></span>
                                                                <span class="icon-bar"></span>
                                                                <span class="icon-bar"></span>
                                                        </button>
                                                </div><!-- /navbar-header -->

                                                <div class="collapse navbar-collapse" id="navbar-collapse">
                                                        <span class="discover">Discover</span>
                                                        <ul class="nav navbar-nav">
                                                                <li class="active dropdown"><a data-toggle="dropdown" href="{{ path('user_homepage') }}"><i class="fa fa-plus-circle" aria-hidden="true"></i>Home</a>

                                                                </li>
                                                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                                    <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>

                                                            {% else %}
                                                                    <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a></li>
                                                                    <li><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-registered" aria-hidden="true"></i>Register</a></li>

                                                            {% endif %}

                                                                <li><a href="index2.html"><i class="fa fa-object-group" aria-hidden="true"></i>Objets Perdus</a></li>
                                                                <li><a href="index3.html"><i class="fa fa-car" aria-hidden="true"></i>Covoiturage</a></li>
                                                                <li><a href="common-list.html"><i class="fa fa-home" aria-hidden="true"></i>Colocation</a></li>
                                                                <li><a href="index4.html"><i class="fa fa-address-book" aria-hidden="true"></i>Evennements</a></li>
                                                        </ul>
                                                </div>
                                        </nav><!-- /navbar -->
                                </div><!-- /left-memu -->
                        </div><!-- /.theiaStickySidebar -->
                </div>
<div class="col-sm-9">
        <div class="tr-content">

<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}

    {% endif %}
</div>

{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<div>
    {% block fos_user_content %}



    {% endblock fos_user_content %}
</div>

        </div>
</div>

        </div><!-- /.row -->
</div>
<footer id="footer">
        <div class="footer-menu">
                <div class="container">
                        <ul class="nav navbar-nav">
                                <li class="active"><a href="{{ path('user_homepage') }}">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Evennements</a></li>
                                <li><a href="#">Covoiturage</a></li>
                                <li><a href="#">Colocation</a></li>
                                <li><a href="#">Objet perdus/ Trouvés</a></li>
                                <li><a href="#">Contact Us</a></li>
                        </ul>
                </div>
        </div>
        <div class="footer-widgets">
                <div class="container">
                        <div class="row">
                                <div class="col-sm-4">
                                        <div class="widget widget-menu-2">
                                                <h2>Category</h2>
                                                <ul>
                                                        <li><a href="#">Business</a></li>
                                                        <li><a href="#">Politics</a></li>
                                                        <li><a href="#">Sports</a></li>
                                                        <li><a href="#">Environment</a></li>
                                                        <li><a href="#">World</a></li>
                                                        <li><a href="#">Technology</a></li>
                                                        <li><a href="#">Health</a></li>
                                                        <li><a href="#">Entertainment</a></li>
                                                        <li><a href="#">Lifestyle</a></li>
                                                </ul>
                                        </div>
                                </div>
                                <div class="col-sm-2">
                                        <div class="widget">
                                                <h2>Editions</h2>
                                                <ul>
                                                        <li><a href="#">United States</a></li>
                                                        <li><a href="#">China</a></li>
                                                        <li><a href="#">India</a></li>
                                                        <li><a href="#">Maxico</a></li>
                                                        <li><a href="#">Middle East</a></li>
                                                </ul>
                                        </div>
                                </div>
                                <div class="col-sm-4">
                                        <div class="widget widget-menu-3">
                                                <h2>Tag</h2>
                                                <ul>
                                                        <li><a href="#">Gallery</a></li>
                                                        <li><a href="#">Sports</a></li>
                                                        <li><a href="#">Featured</a></li>
                                                        <li><a href="#">Fashion</a></li>
                                                        <li><a href="#">Entertainment</a></li>
                                                        <li><a href="#">Business</a></li>
                                                        <li><a href="#">Tech</a></li>
                                                        <li><a href="#">Movies</a></li>
                                                        <li><a href="#">Music</a></li>
                                                        <li><a href="#">Packages</a></li>
                                                        <li><a href="#">Amazon</a></li>
                                                        <li><a href="#">Cars</a></li>
                                                        <li><a href="#">Phones</a></li>
                                                </ul>
                                        </div>
                                </div>
                                <div class="col-sm-2">
                                        <div class="widget">
                                                <h2>Products</h2>
                                                <ul>
                                                        <li><a href="#">Ebooks</a></li>
                                                        <li><a href="#">Newsfeeds</a></li>
                                                        <li><a href="#">Reprints &amp; Permissions</a></li>
                                                        <li><a href="#">Magazine</a></li>
                                                        <li><a href="#">College Guide</a></li>
                                                </ul>
                                        </div>
                                </div>
                        </div><!-- /.row -->
                </div>
        </div>
        <div class="footer-bottom text-center">
                <div class="container">
                        <div class="footer-bottom-content">
                                <div class="footer-logo">
                                        <a href="{{ path('user_homepage') }}"><img class="img-responsive" src="{{ asset('bundles/user/images/footer-logo2.png') }}" alt="Logo"></a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <address>
                                        <p>© 2017 <a href="#">Newshub</a>. Email: <a href="#">info@newshub.com</a> | News: <a href="#">news.newshub.com</a> | Advertising: <a href="#">ad.newshub.com</a> <br>Phone: + 1234 8812345, 880112345 + 1359, 6356 + 112-11-9874</p>
                                </address>
                        </div><!-- /.footer-bottom-content -->
                </div><!-- /.container -->
        </div><!-- /.footer-bottom -->
<a href="{{ path('fos_user_change_password') }}">Change</a>
</footer>


{% block javascripts %}

        <script src="{{ asset('bundles/user/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/user/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/user/js/marquee.js') }}"></script>
        <script src="{{ asset('bundles/user/js/moment.min.js') }}"></script>
        <script src="{{ asset('bundles/user/js/theia-sticky-sidebar.js') }}"></script>
        <script src="{{ asset('bundles/user/js/jquery.jplayer.min.js') }}"></script>
        <script src="{{ asset('bundles/user/js/jplayer.playlist.min.js') }}"></script>
        <script src="{{ asset('bundles/user/js/slick.min.js') }}"></script>
        <script src="{{ asset('bundles/user/js/carouFredSel.js') }}"></script>
        <script src="{{ asset('bundles/user/js/jquery.magnific-popup.js') }}"></script>
        <script src="{{ asset('bundles/user/js/main.js') }}"></script>

{% endblock javascripts %}
</body>

</html>




